<!--<p>Oi, meu nome é {{nome}} e tenho {{idade}} anos. </p>
<p>Lançado um dado: {{lancarDado()}}</p>-->

<div class="container mt-2">
  <form>
      <div class="form-group">
        <label for="nomeInput">Nome</label>
        <!--input[type=text id=nomeInput].formr-control[placeholder="Digite um Nome"]-->
        <input type="text" id="nomeInput"
        class="formr-control" placeholder="Digite um Nome" #nomeInput>
      </div>
      <button type="button" (click)="adicionar(nomeInput)" class="btn btn-primary">Adicionar</button>
      <div class="alert alert-primary mt-3 p-3" *ngIf="exibeCaixa">
        {{nome}}
      </div>

  </form>
  
</div>